<!DOCTYPE html>
<html>
  <head>
    <title>Receta</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <nav><%= render partial: 'layouts/navbar' %></nav>
      </div>
      <div id="content">
        <%= render partial: "layouts/flash_messages" %>
        <%= yield %>
      </div>
        <script type="text/javascript">$('.carousel').carousel();</script>
      <div class="footer">
        <%= render partial: 'layouts/footer'  %>
      </div>
    </div>
  </body>
</html>
